*{
	box-sizing: border-box;
}

body {
	font-size: 90%;
	font-family: 'Nunito';
	background-color: #EAF0E8;
}

h1{
	font-size: 175%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.container{
	margin: 15px;
	width: 100%;
}

.row{
	width: 100%;
	margin-left: -15px;
	margin-right: -15px;
}

@media (min-width: 992px){
	.col-lg-4{
		float: left;
		width: calc(33% - 10px); /* box-sizing doesn't include MARGIN, so here margin subtracted from width */
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6{
		float: left;
		width: calc(50% - 10px);
	}
	.col-md-12{
		float: left;
		width: calc(100% - 10px);
	}
}

@media (max-width: 767px){
	.col-s-12{
		float: left;
		width: calc(100% - 10px);
		
	}
}

.textfield {
	background-color: #D6EFCC;
	margin: 5px;
	border: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: black;
}

.box-header{
	font-size: 125%;
	float: right;
	margin: 0;
	border: solid;
	border-radius: 0px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 9px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-color: black;
	text-align: center;
	font-weight: 900;
	width: 50%;
}

.box-header-type1{
	background-color: #BAF9A3;
}

.box-header-type2{
	background-color: #4aaf00;
}

.box-header-type3{
	background-color: #dbff85;
}

.text{
	margin: 5px;
	margin-top: 25px;
}
